<div class="overlay">
  <p>
     <strong>{{evento.nombre}}</strong> {{moment evento.dia}} <i class="fa fa-question-circle" aria-hidden="true" title="{{evento.dia}}"></i>
  </p>
  {{#unless evento.autos}}
    No hay ningún auto! <em>(Por eso no se ve nada en el mapa)</em>.
    Sé el primero en <a href="/evento/{{evento._id}}/auto">agregar un auto</a>.
  {{/unless}}
  <div class="descripcion">
    {{md evento.descripcion}}
  </div>
  <div class="small notita">
    <a href="/evento/{{evento._id}}">Link para compartir</a>
  </div>
</div>

<div class="toggle-barra" style="display: block;" onClick="javascript: toggleBarra(this, 'autos');">Autos</div>
<div class="barra" id="autos" style="display: none;">
  <a href="/evento/{{evento._id}}/auto">Agregar un auto</a> <br />  
  <form action="" method="POST">
    <table>
      <tr>
        <th colspan="2">Auto</th>
        <th colspan="{{maximaCapacidad}}">Ocupantes</th>
      </tr>
      
      {{#each evento.autos}}
      <tr>
        <td class="aColorear">
          <i class="fa fa-car" aria-hidden="true"></i>
          <i class="fa fa-trash-o" aria-hidden="true" onClick="javascript: borrarAuto(this);"></i>
        </td>
        <td>{{this.duenio}}</td>
        {{#times this.asientosTotales}}
          <td>
            <div class="link" onClick="javascript: editarPasajero(this);">
              {{#ifArray this.ocupantes @index}}
                <i class="fa fa-id-card" aria-hidden="true" title="{{index_of this.ocupantes @index}}"></i>
              {{else}}
                Libre!
              {{/ifArray}}
            </div>
            <input type="hidden" name="ocupantes[{{this.duenio}}][{{@index}}]" placeholder="Ocupante {{@index}}" value="{{index_of this.ocupantes @index}}" />
          </td>
        {{/times}}
      </tr>
      {{/each}}
    </table>
    <button type="submit">Guardar!</button>
  </form>
</div>

<div id="mapa" class="mapa"></div>

<script>
  console.log({{{json evento}}});
  
  function borrarAuto(e){
    if( confirm("Estas seguro? (Los cambios solo se aplican al guardar)") )
      e.parentElement.parentElement.remove()
  }
  
  function editarPasajero(e){
    e.nextElementSibling.type = "input";
    e.remove();
  }
  
  function toggleDisplay(e){
    e.style.display = (e.style.display === 'block' ? 'none' : 'block');
  }
  
  
  function toggleBarra(e, id){
    toggleDisplay(document.getElementById(id));
  }
  
  function initMapa() {
    var mapa = new Mapa('mapa');
    mapa.variasRutas( armarRequests(), obtenerColor );
    
    colorear('aColorear');
  }
  
  function armarRequests(){
    var request = [];
    var evento = {{{json evento}}};
    
    return evento.autos.map(function(auto){
      return JSON.parse(auto.ruta);
    });
  }
  
</script>