<h2>{{evento.nombre}}</h2>
<a href="/evento/{{evento._id}}/auto">Agregar un auto</a> <br />
<div id="floating-panel">
{{#each evento.salidas}}
    {{this}} |
{{/each}}
</div>
<div id="mapa" style="width: 800px; height: 400px;"></div>

<script type="text/javascript" src="/mapa.js"></script>
<script>
  console.log({{{json evento}}});
  
  function initMapa() {
    var mapa = new Mapa('mapa');
    mapa.variasRutas( armarRequests() );
  }
  
  function armarRequests(){
    var request = [];
    var evento = {{{json evento}}};
    
    return evento.autos.map(function(auto){
      return JSON.parse(auto.ruta);
    });
  }
  
</script>