<h2>{{evento.nombre}}</h2>
<a href="/evento/{{evento._id}}/auto">Agregar un auto</a> <br />
<div id="floating-panel">
</div>
<div id="mapa" style="width: 800px; height: 400px;"></div>

<form action="" method="POST">
  <table>
    <tr>
      <th>Auto</th>
      <th>Color</th>
      <th cellspace="{{maximaCapacidad}}">Ocupantes</th>
    </tr>
    
    {{#each evento.autos}}
    <tr>
      <td>{{this.duenio}}</td>
      <td class="aColorear">Color</td>
      {{#times this.asientosTotales}}
        <td><input type="text" name="ocupantes[{{this.duenio}}][{{@index}}]" placeholder="Ocupante {{@index}}" value="{{index_of this.ocupantes @index}}" /></td>
        
      {{/times}}
    </tr>
    {{/each}}
  </table>
  
  
  <button type="submit">Guardar!</button>
</form>

<script type="text/javascript" src="/mapa.js"></script>
<script type="text/javascript" src="/colores.js"></script>
<script>
  console.log({{{json evento}}});
  
  function initMapa() {
    var mapa = new Mapa('mapa');
    mapa.variasRutas( armarRequests(), obtenerColor );
    
    colorear('aColorear');
  }
  
  function armarRequests(){
    var request = [];
    var evento = {{{json evento}}};
    
    return evento.autos.map(function(auto){
      return JSON.parse(auto.ruta);
    });
  }
  
</script>